@import './notFoundPage.css';
@import './/authentification.css';

* {
  max-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(90, 90, 156);
}